<!-- ======= My Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <span>My Documents</span>
            <h2>My Documents</h2>
            <p>Here are my Documents in any fields that I participated.</p>
        </div>
        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="assets/img/Docs/research.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Certificate of cooperation in research projects</h4>
                    <p></p>
                   @* <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="assets/img/Docs/ttc.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>TTC - Teacher Training Course</h4>
                    <p>Tahavole no Institute</p>
                   @* <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="assets/img/Docs/tazriq.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Certificate of Animal Injections</h4>
                    <p>Semnan University</p>
                    @*<a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                </div>
            </div>       
        </div>

    </div>
</section><!-- End My Portfolio Section -->